.topBar {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .topBar-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .hamburger-menu {
    font-size: 26px;
    cursor: pointer;
  }
  .add-button {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .menu.open {
    display: flex;
  }
  
  .menu a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu a:hover {
    background-color: #0056b3;
  }
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }