.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .hakukentta {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }