.edit-ajo-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .updateAndDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .edit-ajo-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .update-button,
  .cancel-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    margin: 20px;
    color: white;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .update-button {
    background-color: #464646;
  }
  
  .cancel-button {
    background-color: #dc3545;
  }
  
  .update-button:hover {
    background-color: #313131;
  }
  
  .cancel-button:hover {
    background-color: #be2030;
  }

.update-button-on-list {
  width: 50%;
  background-color: #464646;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 3px;
  cursor: pointer;
}

.update-button-on-list:hover {
  background-color: #313131;
}
.delete-button {
  width: 50%;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 3px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #be2030;
}